html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f1e2;
}

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.greeting-container {
  color: #ffa900;
  font: bold 40px "Patua One";
  margin-left: 10%;
  margin-right: 10%;
}

.order-container {
  color: #882e06;
  background-color: #f9be48;
  padding: 2%;
  margin-left: 10%;
  margin-right: 10%;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  to { 
    opacity: 1; 
    transform: translateY(0);
  };
}